.username {
    text-align: center;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem 0;

    & > * {
        padding: 0 1rem;
    }
}