.card {
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    display: flex;
    gap: 1rem;
}

h1 {
    padding: 1rem;
}

.icon-col {
    vertical-align: middle !important;
}

.io-heading {
    padding: 5px 15px;
    background-color: transparent;
}

.io-table-container {
    height: 55vh;
    overflow-y: auto;
    margin: unset !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.io-table {
    position: relative;
    width: 100%;

    thead {
        text-align: center;
        background-color: var(--bulma-scheme-main);
        position: sticky;
        top: 0;
    }

    td, th {
        padding: 6px;
    }
}

.is-borderless {
    border: none !important;
}

.is-pointer {
    cursor: pointer;
}

.is-misaligned {
    position: relative;
    top: 1px;
}

.no-services {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

.empty-icon {
    text-align: center;
    font-size: 3rem;
}

.reset-filter {
    padding: unset;
}