.card {
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    display: flex;
    gap: 1rem;
}

h1 {
    padding: 1rem;
}

.icon-col {
    vertical-align: middle !important;
}

.io-heading {
    padding: 5px 15px;
    background-color: transparent;
}

.io-table-container {
    height: 55vh;
    overflow-y: auto;
    margin: unset !important;
}

.io-table {
    position: relative;

    thead {
        background-color: var(--bulma-scheme-main);
        position: sticky;
        top: 0;
    }

    td, th {
        padding: 6px;
    }
}

.reset-filter {
    padding: unset;
}