.service {
    text-align: center;
    vertical-align: middle;
}

button {
    margin: 1rem;
}

.strong {
    font-size: 1.5rem;
}

form {
    padding: 1rem 1rem;
}

textarea::-webkit-scrollbar {
    display: none;
}

[class*='io-field'] {
    &:has(label) {
        gap: 0.5rem !important;
    }

    @media screen and (min-width: 550px) {
        flex-wrap: wrap;
        height: 42.5px;

        &:has(label) {
            height: 85px;
        }
    }
}

.full_height {
    height: fit-content !important;
}

textarea {
    height: auto !important;
    resize: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    & button {
        min-width: 35%;
    }
}

.io-heading {
    padding: 5px 15px;
    background-color: transparent;
}

[class*='gapless'] {
    gap: 0 !important;
}

[class*='io-signature'] {
    flex-direction: column;
    justify-content: center;
    display: flex;
}