.service {
    text-align: center;
    vertical-align: middle;
}

button {
    margin: 1rem;
}

.strong {
    font-size: 1.5rem;
}

form {
    padding: 1rem 1rem;
}

textarea::-webkit-scrollbar {
    display: none;
}

.two_col_grid {
    gap: 0.375rem;

    @media screen and (width > 550px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        display: grid;
        width: auto;
    }
}

.file_input_width {
    & > * {
        width: 96%;
    }
}

.io_field {
    &:has(label) {
        gap: 0.5rem !important;
    }

    @media screen and (min-width: 550px) {
        flex-wrap: wrap;
        height: 42.5px;

        &:has(label) {
            height: 85px;
        }
    }
}

.full_height {
    height: fit-content !important;
}

textarea {
    height: auto !important;
    resize: none;
}

canvas {
    border-radius: 0.375rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    & button {
        min-width: 35%;
    }
}

.io_heading {
    padding: 5px 15px;
    background-color: transparent;
    font-size: xx-large;
}

[class*='sign-btn'] {
    margin: 1rem 0.5rem !important;
}

[class*='gapless'] {
    gap: 0 !important;
}

[class*='marginless'] {
    margin: unset !important;
}

[class*='io-signature'] {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

[class*='no-contact'] {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 1rem;
    height: 30vh;
}