.modal img {
    max-height: clamp(0, 90vh, 90vh);
    max-width: clamp(0, 90vw, 90vw);
}

.modal-content {
    overflow: hidden;
    max-width: 90%;
}

.modal-content:has(img) {
    max-width: fit-content !important;
}