#root {
  height: 100vh;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide_scroll::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow: scroll;
}

.is-link {
  color: var(--bulma-link-text);
}

.is-brown {
  color: saddlebrown;
}

.no-pad-left {
  padding-left: unset !important;
}

.no-pad-right {
  padding-right: unset !important;
}

.fullwidth {
  min-width: 100%;
  width: 100%;
}

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 2rem !important;
}

.gap-6 {
  gap: 3rem !important;
}

/* Vertical alignment helpers */
.text-top {
  vertical-align: top !important;
}

.text-middle {
  vertical-align: middle !important;
}

.text-bottom {
  vertical-align: bottom !important;
}

.text-baseline {
  vertical-align: baseline !important;
}

.text-sub {
  vertical-align: sub !important;
}

.text-super {
  vertical-align: super !important;
}

.height-auto {
  height: auto !important;
}

/* z-index helpers */
.z-0 {
  z-index: 0 !important;
}
.z-10 {
  z-index: 10 !important;
}

.z-20 {
  z-index: 20 !important;
}

.z-30 {
  z-index: 30 !important;
}

.z-40 {
  z-index: 40 !important;
}

.z-50 {
  z-index: 50 !important;
}

.z-100 {
  z-index: 100 !important;
}